/* --------------------------
  Base Styles
--------------------------- */

@import url("https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic");

* {
  box-sizing: border-box; 
}

body {
	background: #fdfdfd;
  color: #797e83;
  font-size: 16px;
	margin: 0;
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; 
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400; 
}

.container {
	width: 100%;
	margin: auto;
	background: #fff;
}

/* --------------------------
  Main Styles
--------------------------- */

.main-header,
.nav,
.cta,
.lightbox,
.about,
.testimonials,
.faq,
.contact,
footer {
	display: flex;
	flex-direction: column;
	padding: 0 5%;
}

.main-header {
	padding-top: 2em;
}

.site-logo {
	width: 80%;
	align-self: center;
}

.nav {
	margin-top: 1.5em;
}

.nav a {
	display: block;
	color: #797e83;
	font-size: 1.125em;
	font-weight: 300;
	text-align: center;
	padding: .4em;
	border-bottom: 1px solid #ebecec;
}

.nav a:hover {
	color: #0b0b0b;
	border-bottom-color: #B191E0;
}

.cta,
.about,
.faq,
footer {
	text-align: center;
	background: #3F3E3E;
	color: #fff;
}

.testimonials,
.contact {
	text-align: center;
}

.cta {
	padding-bottom: 30px;
	margin: 30px 0;
}

.cta a {
	padding: 10px 30px;
	background-color: #B191E0;
	color: #E5E6E4;
	font-size: 1.5em;
	width: 75%;
	align-self: center;
}

.lightbox {
	margin-bottom: 30px;
}



/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 768px) {
	
	.main-header {
		height: 200px;
		justify-content: flex-end;
		margin-bottom: 60px;
	}

	.site-logo {
		width: 540px;
	}

	.nav {
		margin-top: 3em;
		flex-direction: row;
		justify-content: space-between;
	}

	.nav a {
		border-bottom-color: transparent;
	}

	.cta {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 30px;
	}

	.cta a {
		width: 30%;
	}
}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 0;
	}

	.nav {
		margin-top: 0;
		align-self: center;
	}

	.nav li {
		margin-left: .65em;
		margin-right: .65em;
	}

	.cta {
		margin-top: 0;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1080px;
	}
}